<h1>{{ title }}</h1>

<p>Uppercase: {{ 'angular' | uppercase}}</p>
<p>Lowercase: {{ 'ANGULAR' | lowercase}}</p>
<p>Titlecase: {{ 'angular' | titlecase}}</p>

<p>Today's Date: {{ today | date: 'fulldate'}}</p>
<p>Today's Date: {{ today | date: 'shortdate'}}</p>
<p>Currency (INR): {{ price | currency: 'INR'}}</p>
<P>Percentage: {{ percentage | percent}}</P>
<p>JSON: {{ user | json}}</p>

<h2>Custom Pipe Demo</h2>

<p>Without pipe: Hello</p>
<p>With Custom Pipe : {{ 'Hello' | exclamation}}</p>
<p>With Multiple Pipe: {{ 'Hello' | exclamation:5:10}}</p>